.btn {
  border: 1px black solid;
  padding: 4px 14px;
  outline: none;
  font-size: 9px;
  color: black;
  cursor: pointer;
  background-color: white;
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-in;
  background-color: transparent;
  color: black;
  border-radius: 2px;
  border: 2px solid black;
}
