.btn {
  border: 2px solid rgb(37, 31, 31);
  padding: 5px 12px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.btn:hover {
  padding: 4px 9px;
  transition: all 0.3s ease-in-out;
}
