* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Serif', serif;
}

/* .about-us,
.create-account,
.eggs,
.fresh-drinks,
.fruits,
.login,
.milk,
.vegetables,
.visit-us,
.recipe,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */
